* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.bigbox {
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reweb {
    position: absolute;
    top: 2%;
    right: 5%;
    width: 15%;
    height: 5%;
    background: url(../img/neiron4/返回.png) 100%/100% no-repeat;
    cursor: pointer;
    z-index: 99;
}


.neiron {
    position: absolute;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/web4/背景1.png) 100%/100% no-repeat;
}

.text {
    position: absolute;
    width: 70%;
    height: 7%;
    text-align: center;
    color: red;
    font-size: 23px;
}

.all_xuanzhe {
    position: absolute;
    bottom: 21%;
    width: 44%;
    height: 22%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.xuanzhe {
    width: 40%;
    height: 30%;
    cursor: pointer;
}

.yes_no {
    position: absolute;
    bottom: 12%;
    width: 42%;
    height: 6%;
    display: flex;
    justify-content: space-between;
}

.yesno {
    width: 35%;
    height: 100%;
    cursor: pointer;
}


/* 内容2------------------------------------ */

.neiron2 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/web4/背景2.png) 100%/100% no-repeat;
    display: none;
}

.shiping {
    position: absolute;
    width: 100%;
    height: 35%;
    top: 10%;
}